AIRFLOW_UID=1000
AIRFLOW_PROJ_DIR=.

FTD_EEG_PROJECT_ROOT=/opt/airflow/project
FTD_EEG_FEATURE_CACHE_DIR=/opt/airflow/project/airflow/cache/current_features
MLFLOW_TRACKING_URI=file:/opt/airflow/project/mlruns
MLFLOW_EXPERIMENT_NAME=ftd_ad_hc_final_artifacts
